table {
    border-collapse: collapse;
    border-spacing: 0;
   width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    border: 1px solid #2ccd95;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}